body{
	font-family: Lato, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, Sans Serif;
	background: #fcefd7;
	color: #bc9b5d;
	line-height: 1.5;
	margin: 0px auto;
	padding: 0px auto;
}

header,footer{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-image: linear-gradient(0deg,#c36736 0,#ca6f40 29%,#ca6f40 100%);
	text-transform: uppercase;
	background-color: #ca6f40;
	color: #a64523;
}

header{
	border-bottom-width: 10px;
	border-bottom-style: solid;
	border-bottom-color: #875a3f;
	height: 100px;
	padding-bottom: 25px;
	top: 0px;
	position: fixed;
	text-align: left;
}

header img{
	display: inline;
	position: fixed;
	max-width: 100%;
	position: relative;
}

footer{
	border-top-width: 10px;
	border-top-style: solid;
	border-top-color: #875a3f;
	height: 100px;
	font-size: 10px;
	text-align: center;
	padding-top: 25px;
	position: relative;
	bottom: 0px;
	top: 0px;
	max-width: 100%;
}

nav{
	position: fixed;
	z-index: 1;
	width: 100%;
	top: 25px;
}

nav ul li{
	display: inline-block;
	margin: 0px 15px;
	padding: 0px;
}

nav ul{
	margin: 0 auto;
	text-align: right;
	padding: 30px;
}

li a{
	color: #a64523;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
	font-weight: normal;
}

div{
	display: inline-block;
	top: 70px;
}

h1{
	display: block;
	font-size: 64px;
	font-weight: 700;
	background-color: #875a3f;
	border-radius: 10px;
	text-align: center;
	width: 50%;
	margin: 50px auto;
	top: 100px;
}

h2{
	font-size: 18px;
	font-weight: 300;
	color: #ffffff;
	background-color: #ff7917;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 150px;
	height: 18px;
	padding-top: 2px; 
	padding-bottom: 2px;
	border-radius: 5px;
}

p{
	font-size: 12px;
	font-weight: 300;
	color: #ebb994;
	box-sizing: border-box;
	max-width: 1000px;
	text-align: left;
	padding: 50px;
	top: 0px;
}

dl,dt{
	border-bottom: 4px dotted #bc9b5d
}

.logo{
	border:0px;
	margin:0px;
	outline:0px;
	padding:0px;
}

.container{
	margin-top: 100px;
	margin-left:50px;
	margin-right:50px; 
	background: #fef7eb;
	text-overflow: hidden;
	overflow: hidden;
	text-align: center;
	height: 100%;
}


.flourish{
	font-size: 16px;
	text-transform: uppercase;
	color: #641c17;
}

.chalk{
	color: #c5cca0;
}

.cb-fill{
color: white;
border-style: solid;
border-color:#4c4b31 #5e6543 #5e6543 #4c4b31;
background:#5e6543;}

.cb-frame{outline-style: outset;
outline-color:#a64523;
background:#5e6543;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.action{
	color: #641c17;
	border-style: none none solid none;
	border-color: #ebb994;
	border-width: 5px;
	background:#fcefd7;
	outline-style:solid;
	outline-color: #641c17;
	outline-width: 5px;
	padding:5px 20px;
}

nav li.shrink-on-hover{
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.shrink-on-hover:hover, .shrink-on-hover:focus, .shrink-on-hover:active{
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}