body{
font-family: 
}

header,footer{
	background-image:linear-gradient(0deg,#c36736 0,#ca6f40 29%,#ca6f40 100%);
}

header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #ca6f40;
	color: #a64523;
	text-align: center;
	border-bottom-width:10px;
	border-bottom-style:solid;
	border-bottom-color:#875a3f;
	height: 100px;

}

footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #ca6f40;
	color: #a64523;
	text-align: center;
	border-top-width:10px;
	border-top-style:solid;
	border-top-color:#875a3f;
	height: 100px;
}

p,a,blockquote,figcaption{

}

li,ol,ul{

}

a{

}